{% extends 'details/base.html' %}
{% block content %}
<h1 style="text-align:center; color:brown; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" >Student Records</h1>
<div class="container" style="margin-top: 50px;">
    <div class="row">
        {% for Student_entry in object_list %}
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="background-color:azure;">
                    <h5 class="card-tittle">{{ Student_entry.name }}</h5>
                    <h4>{{Student_entry.class}}</h4>
                    <h4>{{Student_entry.Reg_no}}</h4>
                    <a href="{% url 'studentdetail' Student_entry.id %}" class="btn btn-success">
                    view details</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<div class="container " >
    <div class="row">
        <div class="col-lg-12 text-center">
           <br><hr> <h3 style="color:brown; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Add new entry</h3>
            <a href="{% url 'studentcreate' %}" class="btn btn-success ">add new</a>
        </div>
    </div>
</div>
{% endblock %}