{% include 'navigation.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>saranya</title>
    <style>
        img {
            display:block;
            margin-left: auto;
            margin-right: auto;
            height: 400px;
            width: 1000px;
            }
        h1{
            text-align: center;
          }

    </style>
    {% load static %}
</head>
<body>
<h1>{{first_name}} {{last_name}}</h1>

<img src="{% static 'Netflix/simon-berger-8ib37N1LEDs-unsplash.jpg' %}">




{% include 'navigation.html' %}
</body>
</html>
</body>
</html>