p {
    font-family: Arial black;
    font-size: 20px;

    color: white;
}
form {
    border: 2px solid rgb(216, 216, 247);
    border-radius: 30px;
    width: fit-content;
    padding: 15px;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(186, 186, 236);
}
.input {
    font-family: Arial black;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    border:2px solid rgb(216, 216, 247);
    background-color: rgb(186, 186, 236);
    color: white;